/**
  Variables
 */
/**
  Mixin
 */
/**
  Logic
 */
.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.container {
  max-width: 100%;
  margin: 0 auto;
}
.container-fluid {
  max-width: 100%;
  margin: 0;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 420px;
    margin: 0 auto;
  }
  .container-fluid {
    max-width: 100%;
    margin: 0;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 720px;
    margin: 0 auto;
  }
  .container-fluid {
    max-width: 100%;
    margin: 0;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    max-width: 960px;
    margin: 0 auto;
  }
  .container-fluid {
    max-width: 100%;
    margin: 0;
  }
}
.col-1 {
  flex-basis: 8.3333333333%;
}

.col-2 {
  flex-basis: 16.6666666667%;
}

.col-3 {
  flex-basis: 25%;
}

.col-4 {
  flex-basis: 33.3333333333%;
}

.col-5 {
  flex-basis: 41.6666666667%;
}

.col-6 {
  flex-basis: 50%;
}

.col-7 {
  flex-basis: 58.3333333333%;
}

.col-8 {
  flex-basis: 66.6666666667%;
}

.col-9 {
  flex-basis: 75%;
}

.col-10 {
  flex-basis: 83.3333333333%;
}

.col-11 {
  flex-basis: 91.6666666667%;
}

.col-12 {
  flex-basis: 100%;
}

.m-1 {
  margin: 0.5rem;
}

.m-2 {
  margin: 1rem;
}

.m-3 {
  margin: 1.5rem;
}

.m-4 {
  margin: 2rem;
}

.m-5 {
  margin: 2.5rem;
}

.m-6 {
  margin: 3rem;
}

.m-7 {
  margin: 3.5rem;
}

.m-8 {
  margin: 4rem;
}

.m-9 {
  margin: 4.5rem;
}

.m-10 {
  margin: 5rem;
}

* {
  box-sizing: border-box;
}

.container {
  background-color: #a8afb2;
  height: 50px;
}

.col-1 {
  height: 20px;
  text-align: center;
  border: 1px solid lightgray;
  background-color: aqua;
}

.col-2 {
  height: 20px;
  text-align: center;
  border: 1px solid lightgray;
  background-color: aqua;
}

.col-3 {
  height: 20px;
  text-align: center;
  border: 1px solid lightgray;
  background-color: aqua;
}

.col-4 {
  height: 20px;
  text-align: center;
  border: 1px solid lightgray;
  background-color: aqua;
}

.col-5 {
  height: 20px;
  text-align: center;
  border: 1px solid lightgray;
  background-color: aqua;
}

.col-6 {
  height: 20px;
  text-align: center;
  border: 1px solid lightgray;
  background-color: aqua;
}

.col-7 {
  height: 20px;
  text-align: center;
  border: 1px solid lightgray;
  background-color: aqua;
}

.col-8 {
  height: 20px;
  text-align: center;
  border: 1px solid lightgray;
  background-color: aqua;
}

.col-9 {
  height: 20px;
  text-align: center;
  border: 1px solid lightgray;
  background-color: aqua;
}

.col-10 {
  height: 20px;
  text-align: center;
  border: 1px solid lightgray;
  background-color: aqua;
}

.col-11 {
  height: 20px;
  text-align: center;
  border: 1px solid lightgray;
  background-color: aqua;
}

.col-12 {
  height: 20px;
  text-align: center;
  border: 1px solid lightgray;
  background-color: aqua;
}

.col-13 {
  height: 20px;
  text-align: center;
  border: 1px solid lightgray;
  background-color: aqua;
}

.col-14 {
  height: 20px;
  text-align: center;
  border: 1px solid lightgray;
  background-color: aqua;
}

.col-15 {
  height: 20px;
  text-align: center;
  border: 1px solid lightgray;
  background-color: aqua;
}

.col-16 {
  height: 20px;
  text-align: center;
  border: 1px solid lightgray;
  background-color: aqua;
}

.col-17 {
  height: 20px;
  text-align: center;
  border: 1px solid lightgray;
  background-color: aqua;
}

.col-18 {
  height: 20px;
  text-align: center;
  border: 1px solid lightgray;
  background-color: aqua;
}

.col-19 {
  height: 20px;
  text-align: center;
  border: 1px solid lightgray;
  background-color: aqua;
}

.col-20 {
  height: 20px;
  text-align: center;
  border: 1px solid lightgray;
  background-color: aqua;
}

body {
  margin: 0;
  padding: 0;
}

/*# sourceMappingURL=index.css.map */
